.container {
    display: flex;
    /* height: 100%; */

}

.body {
    width: 1250px;
    height: 745px;
    background-color: rgb(48, 46, 46);
    overflow-y: scroll;

}

.box {
    width: 150px;
    height: 200px;
    border: 1px solid white; 

}

.side_bar {
    width: 250px;
    height: 745px;
    background: black;
    color: aliceblue;
    border-radius: 10px;
}
.side_bar h2{
    margin-left: 20px;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(48, 46, 46);
}



.profile {
    display: flex;
    flex-direction: row;
    padding: 1%;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.section {
    color: aliceblue;
}

.profile:hover {
    /* padding: 2%; */
    background-color: rgb(62, 61, 61);
}

.profile_img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(231, 219, 219, 0.1);

}

.profile_name {
    padding-bottom: 3%;
    padding-left: 1%;
    margin: 0;

}

.desc {
    margin: 0;
    color: rgb(88, 85, 85);
}

/* Product Details section */
.shopdetails {
    color: azure;
    border-radius: 10px;

}

.shopdetails h3 {
    padding: 8px;
    margin-left: 10%;

}

.shopdetails:hover {
    background-color: rgb(62, 61, 61);

}

.shopdetails_link {
    text-decoration: none;
    color: rgb(210, 220, 220);
}

/* Product Details section */
.productdetails {
    color: azure;
    border-radius: 10px;
}

.productdetails h3 {
    padding: 8px;
    margin-left: 10%;
}

.productdetails:hover {
    background-color: rgb(62, 61, 61);

}

.dashboard {
    color: white;
    margin-left: 20px;
}

.dashboard_link {
    text-decoration: none;
    color: rgb(210, 220, 220);
}

.dashboard:hover {
    color: azure;
    border-radius: 10px;
    background-color: rgb(62, 61, 61);

}

.dashboard h3 {
    padding: 8px;
    margin-left: 5px;

}

.dashboard_container h3 {
    color: white;
    margin-left: 20px;
}

/* Shop Details form  */
.shopdetail_Container {
    margin: 5px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 150px; */
    /* border: 1px solid rgb(111, 111, 111); */
    border-radius: 10px;
}

.SD_heading {
    text-align: center;
    font-size: x-large;
    color: white;
}

.SD_labels {
    font-weight: 900;
    font-size: larger;
    color: white;
    padding-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}

.SD_txtbox {
    margin-bottom: 10px;

    padding: 15px;
    width: 300px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #00000046;
    border-radius: 10px;
    border: none;
    
}
/* SD_txtboxTime */
.submitbtn{
    width: 280px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: 700;
    border: none;
    background-color: rgb(24, 1, 155);
}

/* .Time{
    display: flex;
    flex-wrap: wrap;
} */
.startTime{
    display: flex;
    width: 10px;
}
.endTime{
    display: flex;
    width: 10px;

}
#AMPM{
background: #00000046;
height: 45px;
border-radius: 5px;
margin-left: 3px;
border: none;
color: white;
}

/* ProductDetails style section */
.productdetail_container{
    margin: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
}
.PD_Heading{
    text-align: center;
    font-size: x-large;
    color: white;
}
.PD_label{
    font-weight: 900;
    font-size: larger;
    color: white;
    padding-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.PD_textbox{

    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 240px;
}
.PD_Display{
    /* padding-left: 50vw; */
    width: 80vw;
    height: 500px;
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid white;
}
.product{
    border: 1px solid white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.PD_addbtn{

    margin-top: 2px;
    margin-left: 10px;
    padding: 10px;
    display:inline-block ;
    border-radius: 10px;
    color: white;
    background: blue;

}
.P_img{
    margin-left: 20px;
    /* padding: 15px; */
    background:linear-gradient(to bottom,#7573735d,#e7e7e79b);
    display: inline-block;
    border:none;
}
.P_name{
    display: inline-block;
    margin-left: 30px;
    background:linear-gradient(to bottom,#7573735d,#e7e7e79b);

    padding: 10px;
    border: 1px solid white;
}
.P_price{
    display: inline-block;
    margin-left: 30px;
    background:linear-gradient(to bottom,#7573735d,#e7e7e79b);

    padding: 10px;
    border: 1px solid white;
}
.P_maindesc{
    display: inline-block;
    margin-left: 30px;
    background:linear-gradient(to bottom,#7573735d,#e7e7e79b);
    width: 100px;
    height: 40px;
    /* overflow-y: scroll; */
    /* padding: 10px; */
    border: 1px solid white;
}
.P_desc{
    display: inline-block;
    margin-left: 30px;
    background:linear-gradient(to bottom,#7573735d,#e7e7e79b);
    width: 150px;
    height: 60px;
    overflow-y: scroll;
    /* padding: 10px; */
    border: 1px solid white;
}