body {
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: #1ad1ff;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 4px 10px gray;
    border: black;
}

.LSP_logo {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    /* padding: 20px; */
}


/* product display interface */
.shop_container{
    margin-left: 4%;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Product card design */
.shop_card{
    border: 1px solid rgb(19, 18, 18);;
    margin: 2px;
    margin-top: 20px;
    width: 250px;
    height: 260px;
    box-shadow: 1px 2px 20px rgba(49, 30, 33, 0.874); 
    border-radius: 10px;
    cursor: pointer;
}
.shop_img{
    border: 1px solid rgb(255, 252, 252);
    width: 239px;
    height: 170px;
    border-radius: 5px;
    padding-bottom: 1px;
    margin: 5px;
}
/* .shop_img:hover{
} */
.shop_name{
    margin: auto;
    margin-left:12px;
    font-family: Georgia;
}
.shop_category{
    display: inline-block;
    margin: auto;
    margin-left: 12px;
    color: black;
    background: rgba(255, 111, 0, 0.286);
    padding: 3px;
}
.shop_location
{
    margin: auto;
    margin-top: 7px;
    margin-left: 12px;
    color: rgb(59, 58, 58);
}